# Chapter 1 - First Python Programming

## 1.1 Hello World

In [45]:
print(55)

55

### Use single quotes to print strings

### Can also use double and triple quotes here

In [46]:
print(Hello World)

SyntaxError: invalid syntax (4293340409.py, line 1)

In [47]:
print('Hello World')

Hello World

### Use double quotes if there are single quotes used in the string

In [48]:
print('John's Notebook')

SyntaxError: invalid syntax (2592135577.py, line 1)

In [49]:
print("John's Notebook")

John's Notebook

### Use triple double quotes if there are double quotes in the string

In [50]:
print("He said,"John's Notebook".")

SyntaxError: invalid syntax (466259352.py, line 1)

In [51]:
print("""He said,"John's Notebook".""")

He said,"John's Notebook".

###  Use triple Double quotes for paragraphs

In [52]:
print("""khffhfhsfkhjknklfhshkhlhjhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
      bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
      fgfffffffffffffffffffffffffffffffffffffffffff
      dddddddddddddddddd dddddddddddd sdddddddddddddddddddddddddddddd
      dggggggggggggggggggggggggggggggg gggggggggg""")

khffhfhsfkhjknklfhshkhlhjhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
      bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
      fgfffffffffffffffffffffffffffffffffffffffffff
      dddddddddddddddddd dddddddddddd sdddddddddddddddddddddddddddddd
      dggggggggggggggggggggggggggggggg gggggggggg

## 1.2 Create a Variable

In [53]:
Participants = ['Ashok','Bhanu','Chetan']                                           #List[], Tuple(), Dictionariy{}
Participants

['Ashok', 'Bhanu', 'Chetan']

In [54]:
len(Participants)                                                                   # No. of participants

3

In [55]:
Participants[:]                                                                     # DATA SLICING USE SQUARE BRACKETS[:]

['Ashok', 'Bhanu', 'Chetan']

In [56]:
Participants[1:2]                                                                   # Index starts with 0  
                                                                                    # (1 IS PRINTED AND NOT 2 i.e., < 2)

['Bhanu']

In [57]:
Participants[1] = 'Venkat'                                                           # UPDATING AN ELEMENT
Participants

['Ashok', 'Venkat', 'Chetan']

# =========================================================

# Chapter 2 - String and String Methods

### 3 Data Types in Python:

1. Integer - int
2. Float   - float
3. String  - str

## What is a String?

In [58]:
score = '99.5'

In [59]:
type(score)                                                                           # SINGLE QUOTE STATES THAT IT IS A STRING

str

## 2.2 Concatenation - Indexing - Slicing

In [60]:
first_name = 'Giriganuru'
last_name  = 'Bhanukiran'
age = 25

In [61]:
print(first_name)
print(last_name)

Giriganuru
Bhanukiran

In [62]:
first_name, last_name

('Giriganuru', 'Bhanukiran')

In [63]:
print(first_name + last_name)

GiriganuruBhanukiran

In [64]:
print(first_name + ' 'last_name)

SyntaxError: invalid syntax (1157504065.py, line 1)

In [65]:
print(first_name + ' ' + last_name)

Giriganuru Bhanukiran

In [66]:
print(first_name + ' ' + last_name + ' ' + age)                                 # CONCATENATE IS FOR ONLY SIMILAR DATA TYPES

TypeError: can only concatenate str (not "int") to str

In [67]:
print(first_name + ' ' + last_name + ' ' + str(age))                            # TYPE CASTING - CONVERTING DATA TYPES

Giriganuru Bhanukiran 25

In [68]:
print(first_name, last_name, age)                                              # THIS IS NOT CONCATENATION BUT WE USE IT A
                                                                               # LOT TO PRINT VARIABLES IN A LINE

Giriganuru Bhanukiran 25

In [69]:
last_name

'Bhanukiran'

In [70]:
last_name[1:5]

'hanu'

In [71]:
last_name[:-1]                                                                  # EXCEPT LAST ELEMENT, SINCE INDEXING WILL 
                                                                                # START FROM -1 FROM RIGHT END

'Bhanukira'

In [72]:
last_name[1:]

'hanukiran'

In [73]:
last_name[::2]                                                                   # ONE BY ONE (INTERVALS OF 2)

'Bauia'

In [74]:
last_name[::-1]                                                                  # REVERSE (INTERVALS OF -1)

'narikunahB'

## 2.3 Manipulate String with Methods

Terminology Alert:

Methods/Functions - Similar.

1. When anything which is enclosed within ().
2. It performs some operation on top of the variable.

In [75]:
learner_1 = 'sarath'
learner_2 = 'bhanu'
learner_3 = '     shine'
learner_4 = '         cat     '

In [76]:
len(learner_1)
len(learner_2)
len(learner_3)
len(learner_4)                                                                             # PRINTED LENGTH OF LAST ONE

17

In [77]:
print(len(learner_1))
print(len(learner_2))
print(len(learner_3))
print(len(learner_4))

6
5
10
17

In [78]:
learner_1.capitalize()                                                                     # FIRST LETTER CAPITAL

'Sarath'

In [79]:
learner_2.lower()                                                                         # CONVERT TO LOWER CASE

'bhanu'

In [80]:
learner_3.lstrip()                                                                        # LEADING WHITE SPACES REMOVED

'shine'

In [81]:
learner_4.strip()                                                                    # LEADING AND RAILING WHITE SPACES REMOVED

'cat'

In [82]:
learner_4.strip().upper()                                                            # CHAIN METHODS (USING MORE THAN 1 METHODS)

'CAT'

In [83]:
learner_4

'         cat     '

In [84]:
learner_4 = learner_4.strip().upper()

In [85]:
learner_4

'CAT'

In [86]:
learner_1 = learner_1.capitalize()
learner_2 = learner_2.lower()
learner_3 = learner_3.lstrip()
learner_4 = learner_4.strip().upper()

In [87]:
print(len(learner_1))
print(len(learner_2))
print(len(learner_3))
print(len(learner_4))

6
5
5
3

In [88]:
print(learner_1)
print(learner_2)
print(learner_3)
print(learner_4)

Sarath
bhanu
shine
CAT

## ====================================================================

# DAILY TASK - 1 
## EXPLORE ALL STRING FUNCTIONS AND COME UP WITH 2 EXAMPLES FOR EACH FUNCTION

# ==========================================================

## 2.4 Interact with User Inputs

In [89]:
input('Password:')

Password:

''

In [90]:
user_input = input('Password:')

Password:

In [91]:
print('password starts with',user_input[0])

IndexError: string index out of range

## 2.5 Challenge - Get 2 inputs from the user and display it

In [92]:
f_name = input('First Name')
l_name = input('Last Name')
print('First Name-',f_name,'Last Name-',l_name)

First Name
Last Name
First Name-  Last Name-

In [93]:
f_name = input('First Name')
l_name = input('Last Name')
print('First Name-',f_name,'\nLast Name-',l_name)                                               # PYTHON ESCAPE CHARACTERS(\n)

First Name
Last Name
First Name-
Last Name-

## 2.6 Streamline the Print Statement  (PRINT FORMATING)

In [94]:
print('First Name - {} and Last Name - {}'.format(f_name,l_name))                               # PLACE HOLDERS

First Name -  and Last Name -

In [95]:
print('First Name - {} and Last Name - {}'.format(l_name,f_name))                               # Interchanging Place Holders

First Name -  and Last Name -

In [96]:
print('First Name - {lname} and Last Name - {fname}'.format(lname = l_name,fname = f_name))

First Name -  and Last Name -

# ============================================================

## Chapter 3 - Numbers in Python

In [97]:
user_marks = input('Enter your marks:')
print('The marks you entered is', user_marks)

Enter your marks:
The marks you entered is

In [98]:
type(user_marks)

str

In [99]:
user_marks = int(input('Enter your marks:'))
print('The marks you entered is', abs(user_marks))

Enter your marks:

ValueError: invalid literal for int() with base 10: ''

In [100]:
def get_message():
    print('welcome')

In [101]:
get_message()

welcome

### Positional Arguments

In [102]:
def perform_addition(num1,num2,num3):
    print(num1+num2+num3)

In [103]:
perform_addition(55,85,656)

796

### Default Positional Arguments

In [104]:
def get_employee_details(name,age,salary,organisation = 'IBM'):              # LAST ARGUMENT IS DEFAULT('IBM')
    print('*******************************')
    print('Learner Name :',name)
    print('Age          :',age)
    print('Salary       :',salary)
    print('Organisation :',organisation)
    print('*******************************')

In [105]:
get_employee_details('Abhi',24,25000)

*******************************
Learner Name : Abhi
Age          : 24
Salary       : 25000
Organisation : IBM
*******************************

In [106]:
get_employee_details('Bhanu',24,28000)

*******************************
Learner Name : Bhanu
Age          : 24
Salary       : 28000
Organisation : IBM
*******************************

In [107]:
get_employee_details('Kiran',24,28000,'Google')                   
                                           # DEFAULT ARGUMENTS ARE OVERWRITTEN WHEN CALLING THE FUNCTIONS BY PASSING PARAMETERS

*******************************
Learner Name : Kiran
Age          : 24
Salary       : 28000
Organisation : Google
*******************************

In [108]:
get_employee_details('Bhanu',24,28000)

*******************************
Learner Name : Bhanu
Age          : 24
Salary       : 28000
Organisation : IBM
*******************************

### To get information from the user, No Arguments are made and No Parameters are passed.

In [109]:
def get_employee_details_2(): 
    user_name    = input('Enter your Name :')
    age          = input('Age             :')
    salary       = input('Salary          :')
    organisation = input('Organisation :')
    print('*******************************')
    print('Learner Name :',user_name)
    print('Age          :',age)
    print('Salary       :',salary)
    print('Organisation :',organisation)
    print('*******************************')

In [110]:
get_employee_details_2()

Enter your Name :
Age             :
Salary          :
Organisation :
*******************************
Learner Name :
Age          :
Salary       :
Organisation :
*******************************

### Last Argument is variable length Argument. (Integers, Floats, Chars, String) (* is used in Pandas Library)

In [111]:
def get_employee_details_3(name, age, salary, *organisation):             
    print('*******************************')
    print('Learner Name :',name)
    print('Age          :',age)
    print('Salary       :',salary)
    print('Organisation :',organisation)
    print('*******************************')

In [112]:
get_employee_details_3('Ajith',35,30000,'IBM','Microsoft','Dell')

*******************************
Learner Name : Ajith
Age          : 35
Salary       : 30000
Organisation : ('IBM', 'Microsoft', 'Dell')
*******************************

### Last Argument is Key-Value Pair Variable Length Arguments (** is used)

In [113]:
def get_employee_details_4(name, age, salary, **organisation):             
    print('*******************************')
    print('Learner Name :',name)
    print('Age          :',age)
    print('Salary       :',salary)
    print('Organisation :',organisation)
    print('*******************************')

In [114]:
get_employee_details_4('Ajith',35,30000, company_1 ='IBM', company_2 ='Microsoft', company_3 ='Dell')

*******************************
Learner Name : Ajith
Age          : 35
Salary       : 30000
Organisation : {'company_1': 'IBM', 'company_2': 'Microsoft', 'company_3': 'Dell'}
*******************************

### Last is Key-Value and One Before is Tuple/list
#### only one key value and one list is used and order is imp.

In [115]:
def get_employee_details_5(name, age, *salary, **organisation):             
    print('*******************************')
    print('Learner Name :',name)
    print('Age          :',age)
    print('Salary       :',salary)
    print('Organisation :',organisation)
    print('*******************************')

In [116]:
get_employee_details_5('Ajith',35,30000, 45000, 30000, company_1 ='IBM', company_2 ='Microsoft', company_3 ='Dell')

*******************************
Learner Name : Ajith
Age          : 35
Salary       : (30000, 45000, 30000)
Organisation : {'company_1': 'IBM', 'company_2': 'Microsoft', 'company_3': 'Dell'}
*******************************

### Termination Point to a Function is Return Statement (Diff. b/w Print and Return)
#### Return Statement plays a key role in high end IDEs, so that when we call that function it will make changes to the data and there we need not print anything.
#### A Function will have only one return statement, if more than one, then it will terminate at first return
#### A Function can have multiple print functions but not multiple return statements

In [117]:
def perform_multiplication(num1,num2):
    return num1
    return num1*num2

In [118]:
perform_multiplication(5,6)

5

In [119]:
def perform_multiplication(num1,num2):
    return num1*num2

In [120]:
perform_multiplication(5,6)

30

In [121]:
def perform_multiplication(num1,num2):
    print(num1*num2)
    return num1*num2

In [122]:
perform_multiplication(5,6)

30

30

## 4.2 Run in Circles

In [123]:
(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [124]:
for i in range(1,10):    # FOR MORE NUMBERS WE USE (FOR LOOP) AND RANGE()
    print(i)

1
2
3
4
5
6
7
8
9

In [125]:
for i in range(2,11,2):    
    print(i)

2
4
6
8
10

## 4.3 Create a User Defined Function with for loop

In [126]:
def get_name(name):
    for i in name:
        print(i)
    return 'FUNCTION TERMINATED'

In [127]:
get_name('Antony')

A
n
t
o
n
y

'FUNCTION TERMINATED'

# =========================================================

# Chapter 5 - Conditional Logics

## 5.1 Compare Values

In [128]:
5 =='5'

False

In [129]:
5 == 5                                                                  # EQUALS TO OPERATOR (==)

True

In [130]:
6 != 6                                                                  # NOT EQUALS TO OPERATOR (!=)

False

In [131]:
10/5                                                                    # QUOTIENT OPERATOR (/)

2.0

In [132]:
11%2                                                                    # REMAINDER OPERATOR (%)

1

In [133]:
53%2 == 0

False

## 5.2 Add some logics

In [134]:
machine_learning = 98
deep_learning = 96
nlp = 95

In [135]:
machine_learning > deep_learning

True

In [136]:
nlp < deep_learning

True

In [137]:
machine_learning > deep_learning and nlp > deep_learning                           # AND OPERATOR

False

In [138]:
machine_learning > deep_learning or nlp > deep_learning                           # OR OPERATOR

True

In [139]:
learner_1
'y' in learner_1

False

In [140]:
feedback = 'Python session with daily tasks is getting me better'
'better' in feedback

True

In [141]:
'better' not in feedback

False

## 5.3 Control the flow of the program

In [143]:
user_password = input('Enter your Password :')
if len(user_password) < 5:
    print('WEAK PASSWORD')
else:
    print('STRONG PASSWORD')

Enter your Password :asdfg
STRONG PASSWORD

In [145]:
user_password = input('Enter your Password :')
if len(user_password) < 5:
    print('WEAK PASSWORD')
elif 5 < len(user_password) < 8:
    print('MODERATE PASSWORD')
else:
    print('STRONG PASSWORD')

Enter your Password :ASDFGH
MODERATE PASSWORD

## 5.4 Challenge - Find the factors of a number

## 5.5 Break out of the Pattern and Continue ignoring

In [148]:
for i in range(1,8):
    if i == 5:
        break
    print(i)

1
2
3
4

In [149]:
for i in range(1,8):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7

In [156]:
while True:
    user_input = input('Type q to quit this window')
    if user_input.lower() =='q':
        break

Type q to quit this windowg
Type q to quit this windowQ